
body, html, .containerstyle{
    height: 100%;
    margin: auto;
    position: relative;
  
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;

}

.sidenav{
    display: flex;
    gap:10px;
    position: absolute;
    top: 0;
    width: auto;
    justify-items: center;
    align-items: center;

  
}

.divstyle{
    border: solid thin rgb(0, 0, 0);

}

.containergrid{
    display: grid;
    overflow: hidden;
    max-height: 100vh;
    background-color: transparent;
   
}


.containercanvas{
    background-color: transparent;
}



